@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar,
.nav-list,
.nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: rgb(112, 186, 230);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #333;
    color: #fff;
}


.background {
    display: flex;
}

.image-sizing {
    background-image: url('images/backgroundImage.jpg');
    background-size: cover;
    height: 500px;
    width: 1000px;
    position: relative;
    width: 70%;

}
.header{
    position: absolute;
    right: 300px;
    bottom: 160px;
}
.profile{
    width: 30%;
    height: 500px;
    background-color: rgb(112, 186, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    margin-top: 10px;
}
.about{
    background-color: lightgray;
    padding: 50px 100px;
}
.info{
    background-color: gray;
    padding: 50px 100px; 
    display: flex;
    justify-content: space-around;
}
.info-education{
    display: flex;
    flex-direction: column;
}
.info-experience{

}
.info-details{

}
.skills{
    background-color: lightgray;
    padding: 50px 100px;
}

.progress-div{
    display: flex;
    gap: 50px;
}

.progress{
    display: flex;
    align-items: center;
}
.progress-main{
    width: 100px;
    height: 5px;
    background-color: green;
}
.progress-shadow{
    width: 30px;
    height: 2px;
    background-color: #333;
}