@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar,
.nav-list,
.nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color: blue;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #333;
    color: #fff;
}


.background {
    height: 700px;
    width: 98.75vw;
    display: flex;
}

.image-sizing {
    background-image: url('images/backgroundImage.jpg');
    background-size: cover;
    height: 500px;
    width: 1000px;
    position: relative;
    width: 70%;
}
.header{
    position: absolute;
    right: 300px;
    bottom: 160px;
}
.profile{
    width: 30%;
    height: 500px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
    margin-top: 10px;
}

